*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  height: 100%;
}

.app{
  height: 100%;
}

.app-con{
  background-color: rgb(44,87,180);
  width: 100%;
  height: 100%;
  padding-top:5px;
  padding-bottom:5px;
  position: relative;
}

.app-con2{
  height: fit-content;
}

.app-logo-con{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  /* height: 100px; */
}

.app-logo{
  width: 300px;
  height: 75px;
  object-fit: cover;
}
.main-con{
  height:fit-content;
  background-color: rgb(234, 233, 236);
  width: 100%;
  position: absolute;
  padding: 0 80px;
}

.main-con2{
  transform: translateY(-15px);
  box-shadow: 20px 20px 40px rgb(0 0 0 / 10%), 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}